* {
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background:
    linear-gradient(to bottom, rgba(18, 17, 19, 1) 0%, rgba(18, 17, 19, 0.46) 46%, rgba(18, 17, 19, 1) 100%),
    url("src/assets/backgropund-krists-luhaers-unsplash.png") no-repeat center calc(-80px);
  background-size: cover;
  background-attachment: fixed;
  background-color: #000;
}

a {
  text-decoration: none;
  color: #f7d354;
  transition: 0.5s;
}

a:hover {
  color: #b8930c;
}
